@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=ABeeZee);
@import url(http://fonts.googleapis.com/css?family=Arbutus+Slab);

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 90px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

body {
  font-family: 'Arbutus Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
font-size: 1.1em; line-height: 1.7em;
}  

/* header */

.navbar-inner {
  min-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #007fff, #0000bf);
  background-image: -ms-linear-gradient(top, #007fff, #0000bf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#007fff), to(#0000bf));
  background-image: -webkit-linear-gradient(top, #007fff, #0000bf);
  background-image: -o-linear-gradient(top, #007fff, #0000bf);
  background-image: linear-gradient(top, #007fff, #0000bf);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'007fff, endColorstr='#'0000bf, GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
#  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
